* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border-radius: 5px;
    --bigger-paragraph: 16px;
    --smaller-paragraph: 12px;
}

body {
    font-family: sans-serif;
    color: white;
}

form {
    margin: 20px auto;
    max-width: 570px;
    width: 100%;
    min-width: 400px;
    padding: 15px 20px;
    background-color: rgb(0, 166, 249);
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px 10px rgb(40, 105, 77);
}

h1 {
    font-size: 36px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 900;
}

form > p {
    width: 70%;
    text-align: center;
}

.inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    margin-top: 10px;
}

.input-group {
    width: calc((100% - 20px) / 2);
}

.input-group > input {
    width: 100%;
    font-size: var(--bigger-paragraph);
    padding: 20px 15px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
}

.input-group > input:hover,
.input-group > input:active,
.input-group > input:focus {
    box-shadow: inset 0 0 3px 3px rgb(0, 208, 163);
}

.input-group > input::placeholder {
    font-size: var(--bigger-paragraph);
    color: rgb(169, 169, 169);
}

.error-message {
    text-align: center;
    line-height: 1;
    color: rgb(173, 45, 45);
    font-size: var(--bigger-paragraph);
    font-weight: bold;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.visible {
    height: 25px;
    padding: 5px;
    opacity: 1;
    outline: 3px solid rgb(187, 74, 74);
    margin-top: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.input-group > input.invalid {
    outline: 3px solid rgb(187, 74, 74);
    box-shadow: inset 0 0 3px 3px rgb(187, 74, 74);
}

.radio-wrapper {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 20px 10px;
}

.radio-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.radio-content > label {
    font-weight: bold;
}

.checkbox-wrapper {
    width: 100%;
    display: flex;
    padding: 5px 15px;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.checkbox-wrapper > label,
.radio-text {
    font-size: var(--smaller-paragraph);
    line-height: 1;
    letter-spacing: 0.6px;
}

.checkbox-wrapper > input {
    width: 15px;
    height: 15px;
    margin-bottom: 2px;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button[type='reset'] {
    background-color: rgb(196, 95, 95);
    color: rgb(255, 255, 255);
}

button {
    width: 100%;
    padding: 15px 10px;
    background-color: rgb(0, 208, 163);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: var(--bigger-paragraph);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2px 2px rgb(90, 90, 90);
    color: rgb(0, 166, 249);
}
